Settings(
    input_delay_ticks: 7,
    correction_ticks_factor: 1.5,
    predict_all: true,
    server_replication_send_interval: 50,
    
    client: ClientSettings(
        inspector: true,
        client_id: 0,
        client_port: 0,
        server_addr: "127.0.0.1",
        conditioner: Some(Conditioner(
            latency_ms: 75,
            jitter_ms: 10,
            packet_loss: 0.02,
        )),
        server_port: 5000,
        transport: Udp, 
        //transport: Steam(
        //    app_id: 480,
        //),
        //server_port: 5001,
    ),
    server: ServerSettings(
        headless: true,
        inspector: false,
        conditioner: None,
        transports: [
            Udp(
                local_port: 5000
            ),
            //Steam(
            //    app_id: 480,
            //    server_ip: "0.0.0.0",
            //    game_port: 5001,
            //    query_port: 27016,
            //),
        ],
    ),
    shared: SharedSettings(
        protocol_id: 0,
        private_key: (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0),
        compression: None,
    )
)